body{
    
    background-color: rgb(255, 248, 240);

}

#me{

    width: 30vw;
    
}

#text{
    color:rgb(132, 81, 10);
    font-size: 1vw;
    font-family: myfont;
    line-height: 2;
    margin-right: 2vw;
    
}

@font-face{
    font-family: myfont;
    src: url(./fonts/Quicksand-VariableFont_wght.ttf)
}

.container {
  display: flex;
  align-items: center; 
  gap: 7vw;
  margin-top: 20vw;
  margin-left: 10vw;

}
