body{background-color: rgb(255, 248, 240);}

#matchamann {

width: 40vw;
display: block;
margin: 0 auto;
margin-top: 10vw;

}
#porridge {
    width: 40vw;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 10vw;;

}

#text{
    color:rgb(132, 81, 10);
font-size: 50px;
text-align:center;
font-family: myfont;
line-height: 1;
margin-top: 100px;
    
}
