p{

    color:rgb(132, 81, 10);
    font-size: 100px;
    opacity: 30%;
    
}

body{background-color: rgb(255, 248, 240);}

#matchamann {

    width: 20vw;
    opacity:20%;
    border: 3px solid burlywood;
}